streamlit
fastapi
uvicorn
pandas
numpy
matplotlib
seaborn
scikit-learn
folium
statsmodels
scipy
lightgbm
requests
plotly
geopandas
earthengine-api
python-multipart
pydantic
shap
joblib
black
pylint
pytest
PyYAML
radon
vulture
pip-tools
